<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MaxPrimaryPackageCount" value="10"/>
    <add key="MaxSecondaryPackageCount" value="10"/>
    <add key="MaxTertiaryPackageCount" value="10"/>
    <add key="ProductName" value="Product Name: GPON BOSA"/>
    <add key="Part" value="Part Number: ZB37BJ43-9A4E193R-BNS"/>
    <add key="Item" value="Item Number: ZGZ000000216"/>
    <add key="CustomerPN" value="CustomerP/N: -"/>
    <add key="LotNumber" value="Lot Number: BZMB19070035"/>
    <add key="PrinterName" value="ZDesigner 110Xi4 600 dpi"/>
    <add key="PrimaryModuleName" value="Primary.btw"/>
    <add key="SecondaryModuleName" value="Secondary.btw"/>
    <add key="TertiaryModuleName" value="Tertiary.btw"/>
  </appSettings>
</configuration>
